<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <title>BitTime Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="author" content="Andre">
    <!-- thanks to: todo https://www.codeply.com/go/hEdsU3Wsty/bootstrap-4-user-profile-template-->
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <div class="topnav">
                    <a th:href="@{/admin/home}">Home</a>
                    <a th:href="@{/admin/registration}">Registration</a>
                    <a th:href="@{/admin/userPanel}">Users</a>
                    <a th:href="@{/admin/timeRecording}">Time Recording</a>
                    <a th:href="@{/admin/vacationRecording}">Vacation Recording</a>
                    <a th:href="@{/admin/sickRecording}">Sick Recording</a>
                    <a th:href="@{/admin/reportingView}">Reporting</a>
                    <a th:href="@{/admin/vacationManagement}">Vacation Management</a>
                    <a class="active" th:href="@{/admin/profileView}">Profile</a>
                </div>
            </div>

            <div class="row my-2">
                <form method="post" action="#" th:action="@{/admin/profileView}">
                    <!--<div class="col-lg-4 order-lg-1 text-center">
                        <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">

                        <h6 class="mt-2">Upload a different photo</h6>
                        <label class="custom-file">
                            <input type="file" id="file" class="custom-file-input">
                            <span class="custom-file-control">Choose file</span>
                        </label>

                    </div>-->
                    <div class="col-lg-8 order-lg-2">
                        <div class="tab-pane" id="edit">
                                 <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></span>
                                 <span>,</span>
                                    <span th:text="${#dates.format(#dates.createNow(), 'HH:mm')}"></span>
                            <span style="color: red;" th:utext="${errorMsg}"></span>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">First name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="name" th:value="${user.name}" placeholder="First name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="lastName" th:value="${user.lastName}" placeholder="Last name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="email" th:value="${user.email}" placeholder="example@gmail.com">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Address</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="street" th:value="${user.street}" placeholder="Street">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" name="city" th:value="${user.city}" placeholder="City">
                                </div>
                                <div class="col-lg-3">
                                    <input class="form-control" type="text" name="state" th:value="${user.state}" placeholder="State">
                                </div>
                            </div>

                            <!-- <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Username</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="userName" th:value="${user.userName}" placeholder="Username">
                                </div>
                            </div> -->

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Current Password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" name="currentPw" value="" placeholder="Current Password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">New password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" name="newPw1" value="" placeholder="New Password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Confirm new password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" name="newPw2" value="" placeholder="Confirm new Password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Cancel">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
<!--                                    todo: profile edit page-->
<!--                                    <a href="/editProfile">Edit Profile</a>-->

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>