<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
  <title>BitTime Admin Panel</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="author" content="Andre">
  <style>
    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {background-color: #4CAF50;} /* Green */
    .button2 {background-color: #008CBA;} /* Blue */
  </style>
</head>

<body>
<div class="container">

  <form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-danger btn-block" name="registration"
            type="Submit">Logout
    </button>
  </form>

  <div class="panel-group" style="margin-top:40px">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span th:utext="${userName}"></span>
      </div>
      <div class="panel-body">
        <div class="topnav">
          <a th:href="@{/admin/home}">Home</a>
          <a th:href="@{/admin/registration}">Registration</a>
          <a th:href="@{/admin/userPanel}">Users</a>
          <a th:href="@{/admin/timeRecording}">Time Recording</a>
          <a th:href="@{/admin/vacationRecording}">Vacation Recording</a>
          <a th:href="@{/admin/sickRecording}">Sick Recording</a>
          <a class="active" th:href="@{/admin/reportingView}">Reporting</a>
          <a th:href="@{/admin/vacationManagement}">Vacation Management</a>
          <a th:href="@{/admin/profileView}">Profile</a>
        </div>
      </div>

      <!-- button todo: <a th:href="@{/admin/...report?}"><button>Um Report zu generieren</button></a>-->
      <label>CREATE TIME REPORT</label>
      <p></p>

      <div class="dropdown">
        <label for="user">Choose user: </label>
        <select name="user" id="user">
          <option value="employee x">Employee A</option>
          <option value="employee y">Employee B</option>
          <option value="employee z">Employee C</option>
          <option value="employee z">Employee D</option>
          <option value="employee z">Employee E</option>
          <option value="employee z">Employee F</option>
        </select>
      </div>

      <p></p>

      <div class="dropdown">
        <label for="time">Choose time period: </label>
        <select name="time" id="time">
          <option value="timeDay">Today</option>
          <option value="timeWeek">Weekly</option>
          <option value="timeMonth">Monthly</option>
          <option value="timeYear">Yearly</option>
        </select>
      </div>

      <p></p>
      <p></p>

      <p>Generate PDF not working, error if clicked.</p>

          <a th:href="@{show/}" th:text="Show_List" class="button button1"></a>

          <a th:href="@{generate/}" th:text="Generate_PDF" class="button button2"></a>

      <p></p>

      <h3 style="text-align: center; color: green">
        <span th:text="${userName} + ', this is your time report!'"></span>
      </h3>

      <p></p>

      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>Date</th>
          <th>Time Record</th>
          <th>Break Record</th>
          <th>Total Worktime</th>
          <th>Dif. to 8h</th>
        </tr>
        </thead>

<!--                <tbody>-->
<!--                <tr th:each="time: ${listTimes}">-->
<!--                  <td th:text="${time.date}"></td>-->
<!--                  <td th:text="${time.record}"></td>-->
<!--                  <td th:text="${time.break}"></td>-->
<!--                  <td th:text="${time.total}"></td>-->
<!--                  <td th:text="${time.difference}"></td>-->
<!--              </tr>-->
<!--              </tbody>-->

      </table>
    </div>
  </div>

</div>
</body>
</html>