<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
  <title>BitTime Admin Panel</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="author" content="Andre">
</head>

<body>
<div class="container">

  <form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-danger btn-block" name="registration"
            type="Submit">Logout
    </button>
  </form>

  <div class="panel-group" style="margin-top:40px">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span th:utext="${userName}"></span>
      </div>

      <div class="panel-body">
        <div class="topnav">
          <a th:href="@{/admin/home}">Home</a>
          <a th:href="@{/admin/registration}">Registration</a>
          <a th:href="@{/admin/userPanel}">Users</a>
          <a th:href="@{/admin/calendar}">Time Recording</a>
          <a th:href="@{/admin/reportingView}">Reporting</a>
          <a class="active" th:href="@{/admin/vacationManagement}">Vacation Management</a>
          <a th:href="@{/admin/profileView}">Profile</a>
        </div>
      </div>

        <p></p>
        <p>Search vacation request</p>

        <form>
          <input type="text" name="userName">
          <input type="submit">
        </form>

        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Vacation Date</th>
            <th>Accept / Decline</th>
          </tr>
          </thead>

          <!-- todo -->
          <tbody>
          <tr th:each="user: ${listUser}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.roles}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>