<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <title>BitTime Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="author" content="Andre">
    <!-- thanks to: todo https://github.com/Franklin89/Zeiterfassung/tree/9a3693d724a2b9f648aea4c765dbf840f39331a0/html5client/src/app/project-->
    <style>
        .button {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button1 {background-color: #4CAF50;} /* Green */
        .button2 {background-color: #008CBA;} /* Blue */
    </style>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>

            <div class="panel-body">
                <div class="topnav">
                    <a th:href="@{/user/home}">Home</a>
                    <a th:href="@{/user/timeRecording}">Time Recording</a>
                    <a th:href="@{/user/vacationView}">Schedule Vacation</a>
                    <a class="active" th:href="@{/user/reportingView}">Reporting</a>
                    <a th:href="@{/user/profileView}">Profile</a>
                </div>
            </div>

            <!-- button todo: <a th:href="@{/user/...report?}"><button>Um Report zu generieren</button></a>-->

            <p></p>
            <label>CREATE TIME REPORT</label>
            <p></p>

            <div class="dropdown">
                <label for="time">Choose time period: </label>
                <select name="time" id="time">
                    <option value="timeDay">Today</option>
                    <option value="timeWeek">Weekly</option>
                    <option value="timeMonth">Monthly</option>
                    <option value="timeYear">Yearly</option>
                </select>
            </div>

            <p></p>
            <p></p>

            <p>Generate PDF not working, error if clicked.</p>

            <a th:href="@{generate/}" th:text="Generate_PDF" class="button button2"></a>

            <p></p>

            <h3 style="text-align: center; color: green">
                <span th:text="${userName} + ', this is your time report!'"></span>
            </h3>

            <p></p>

            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Time Record</th>
                    <th>Break Record</th>
                    <th>Total Worktime</th>
                    <th>Dif. to 8h</th>
                </tr>
                </thead>
                <tbody>
                <!-- @Dominic modified to timeRecords & method called totalWork... -->
                <tr th:each="time: ${timeRecords}">
                    <td th:text="${#dates.format(time.date, 'dd. MM. yyyy')}"></td>
                    <td>
                        <th:block th:text="${time.user?.lastName}"/>
                        <th:block th:text="${time.user?.name}"/>
                    </td>
                    <td>
                        <th:block th:text="${#dates.format(time.starttime, 'HH:mm')}"/> -
                        <th:block th:text="${#dates.format(time.endtime, 'HH:mm')}"/>
                    </td>
                    <td>
                        <th:block th:text="${#dates.format(time.startbreak, 'HH:mm')}"/> -
                        <th:block th:text="${#dates.format(time.endbreak, 'HH:mm')}"/>
                    </td>
                    <td th:text="${time.totalWorkTimeWithoutBreaksInMinutes()}"></td>
                    <td th:text="${time.totalWorkTimeWithoutBreaksInMinutes() - 480}"></td>
                </tr>
                </tbody>


            </table>
        </div>
    </div>

</div>
</body>
</html>