<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BitTime Login</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="author" content="Pascal">
</head>

<body>


<div class="container">

    <form th:action="@{/login}" method="POST" class="form-signin">
        <br/>

        <table width="200" border="0" align="center">
            <tbody>
            <tr>
                <td><img th:src="@{/images/Logotsp.png}" class="img-responsive center-block" width="300" height="300"
                         alt="Logo"/></td>
            </tr>
            <tr>
                <td><h3 class="form-signin-heading" th:text="Welcome" align="center"></h3></td>
            </tr>
            <tr>
                <td><input type="text" id="user_name" name="user_name" placeholder="User Name"
                           class="form-control"/> <br/></td>
            </tr>
            <tr>
                <td><input type="password" th:placeholder="Password"
                           id="password" name="password" class="form-control"/> <br/></td>
            </tr>
            <tr align="center">
                <td>
                    <button class="loginButton" name="Submit" value="Login" type="Submit"
                            th:text="Login"></button>
                </td>
            </tr>
            </tbody>
        </table>


        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">User Name or Password invalid, please verify</p>
        </div>

    </form>
</div>
</body>
</html>