<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- todo: Testform-->
<form>
    <input type="text" name="userName">
    <input type="submit">
</form>


<head>
    <meta charset="utf-8">
    <title>Zeiterfassungs Main View</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- todo: css-->
    <link rel="stylesheet" href="recording/timeRecording.css"/>

</head>

<body>

<!-- todo: Browser-check -->
<!--[if lte IE 8]>
<p class="oldbrowser">You are using an <strong>outdated</strong> browser. Do now <a href="http://browsehappy.com/">upgrade the browser</a> to improve your experience.</p>
<![endif]-->

<nav id="navbar" class="navbar navbar-inverse" ng-controller="MainController" ng-hide="!loggedIn()">
    <div class="container-fluid">
        <!-- Is used for mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Zeiterfassung</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active" ng-hide="isAdmin()"><a ui-sref="timeRecording">Erfassung</a></li>
                <li ui-sref-active="active"><a ui-sref="statistics">&Uuml;bersicht</a></li>
                <li ui-sref-active="active" ng-hide="!isAdmin()"><a id="menuProjectManagement" ui-sref="projectManagement">Ferienverwaltung</a></li>
                <li ui-sref-active="active" ng-hide="isAdmin()"><a id="menuAccount" ui-sref="account">Mein Konto</a></li>
                <li ui-sref-active="active" ng-hide="!isAdmin()"><a id="menuUserAdministration" ui-sref="users">Benutzerverwaltung</a></li>
                <li ui-sref-active="active" ng-show="loggedIn()"><a id="menuLogout" href="" ng-click="logout()">Abmelden</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a onclick="$('#navbar').toggleClass('navbar navbar-inverse'); $('#navbar').toggleClass('navbar navbar-default')" class="btn btn-default btn-circle"><i class="fa fa-user"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ui-view></div>
</div>

<!-- todo: scripts-->
<script type="text/javascript" src="../../bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
<!-- Einbindung der eigenen Scripts -->
<script type="text/javascript" src="../../build/zeiterfassung.min.js"></script>

</body>
</html>